@mixin background-clip($type) {
	-moz-background-clip: $type;     /* Firefox 3.6 */
	-webkit-background-clip: $type;  /* Safari 4? Chrome 6? */
	background-clip: #{$type}-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

}


#image-area-canvas, #image-coord-canvas {
	position: absolute; 
	top: 0;
	left: 0;
}

#imagemap-image {
	 max-width: 100% 
}

.insert-media-imagemap {
	cursor: pointer; 
	position: relative; 
	background-color: #000;
	height: 125px; 
	width: 125px; 
	float: left; 
	margin: 10px; 
	border: 1px solid #333;
	background-position: center center; 
	background-size: contain; 
	background-repeat: no-repeat;
	
	div {
		position: absolute; 
		bottom: 0; 
		width: 100%;
		background-color: rgba(255, 255, 255, 0.8);
		height: 30px;
		line-height: 30px;
		text-align: center;
	}
}

.imgmap-color-picker {
	display: none;
}

.imgmap-frontend-image {
	position: relative;
	img, canvas {
		max-width: 100% !important;
		width: 100%;
		height: 100%;
	}
}

#area-form-types {
	
}

#imagemap-area-settings {
	th { text-align: left; }
}

.area-type-editors { display: none; }
.area-type-editor-current { display: block; }

.area-list-element {
	&:hover { background-color: rgba(255, 255, 255, 1); }
	$height: 50px;
	height: $height;
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid #dedede;
	padding-top: 15px;
	
	label {
		display: block;
		width: 100%;
		line-height: 25px;
		input[type=text] {
			float: right;
		}
	}
	
	.area-list-left {
		float: left; 
		height: 100%;
		line-height: $height;
		text-align: center;
		width: 10%;
	}
	.area-list-right	{
		float: right;
		width: 80%;
	}
	.area-list-meta {
		padding: 10px 0;
		width: 100%;
		text-align: right;
		a {
			margin-left: 6px;
		}
		
		.delete-area {
			color: #e12;
			text-decoration: underline;
		}
	}
}

.imagemapper-tooltip {
	position: absolute;
	background-color: #fff;
	padding: 8px;
	border: 4px solid rgba(10, 10, 10, 0.4);
	border-radius: 6px;
	@include background-clip(padding);
}
.column-parent_image {
	width: 102px;
}

.imagemap-column-image {
	max-width: 100px;
	max-height: 100px;
	border: 1px solid rgb(180, 180, 180);
}

#imgmap-area-styles {
	.imgmap-area-style {
		background-image: url(transparency.png);
		border: 1px solid #dedede;
		overflow: hidden;
		padding: 8px;
		float: left;
		margin: 4px;
		cursor: pointer;
		.imgmap-area-color {
			width: 16px;
			height: 16px;
		}
	}
	.imgmap-area-style.chosen {
		border: 1px solid rgba(200, 50, 70, 0.8);
	}
}